@model IEnumerable<FourthTeamProject.PetHeavenModels.HotelOrderDetail>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link id="theme-style" rel="stylesheet" href="~/css/System/css/portal.css">
</head>
<body class="app">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">訂單管理系統-旅館</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="app-search-form" asp-area="Admin" asp-controller="EmployeesManage" asp-action="HotelOrdermanagement" method="get">
                                        <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                                        <button type="submit" class="btn search-btn btn-primary"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">訂單編號</th>
                                                <th class="cell">訂單明細編號</th>
                                                <th class="cell">旅館編號</th>
                                                <th class="cell">單價</th>
                                                <th class="cell">旅館種類</th>
                                                <th class="cell">旅館名稱</th>
                                                <th class="cell">入住時間</th>
                                                <th class="cell">退房時間</th>
                                                <th class="cell">天數</th>


                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.HotelOrderId)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.HotelOrderDetailId)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.HotelId)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>

                                                    <td>@Html.DisplayFor(modelItem => item.HotelCatagoryName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.HotelName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CheckIntime)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CheckOutTime)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.OrderAmount)天</td>


                                                </tr>
                                            }
                                        <td colspan="7">總金額：@Model.Sum(item => item.UnitPrice * item.OrderAmount)</td>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <nav class="app-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav><!--//app-pagination-->

                    </div>
                </div>
            </div>
        </div>

        <footer class="app-footer">
            <div class="container text-center py-3">
            </div>
        </footer>

    </div>
    <script src="~/css/System/assets/plugins/popper.min.js"></script>
    <script src="~/css/System/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/css/System/assets/js/app.js"></script>
    <script defer src="~/css/System/plugins/fontawesome/js/all.min.js"></script>

</body>
</html>


