@model FourthTeamProject.Models.ViewModel.SalonOrderViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link id="theme-style" rel="stylesheet" href="~/css/System/css/portal.css">
</head>
<body class="app">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">訂單管理系統-美容</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="app-search-form" asp-area="Admin" asp-controller="EmployeesManage" asp-action="SalonOrdermanagement" method="get">
                                        <input type="text" placeholder="Search..." name="search" class="form-control search-input">
                                        <button type="submit" class="btn search-btn btn-primary"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                             
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">訂單編號</th>
                                                <th class="cell">會員編號</th>
                                                <th class="cell">客戶名稱</th>
                                                <th class="cell">訂單日期</th>
                                                <th class="cell">訂單狀態</th>
                                                <th class="cell">總計</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td class="cell">@Html.DisplayFor(modelItem=>item.SalonOrderId)</td>
                                                    <td class="cell">@Html.DisplayFor(modelItem=>item.MemberId)</td>
                                                    <td class="cell">@Html.DisplayFor(modelItem=>item.OrderMemberName)</td>
                                                    <td class="cell">@Html.DisplayFor(modelItem=>item.SalonOrderDate)<span class="truncate"></span></td>


                                                    <td class="cell">
                                                        @if (item.OrderStatus)
                                                        {
                                                            <span class="badge bg-success">@Html.DisplayFor(modelItem=>item.OrderStatus)已付款</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-danger">@Html.DisplayFor(modelItem=>item.OrderStatus)未付款</span>
                                                        }
                                                    </td>
                                                    <td class="cell" style="list-style-type:arabic-indic"><a asp-area="Admin" asp-controller="EmployeesManage" asp-route-id="@item.SalonOrderId" asp-action="SalonOrderDetail">View</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <nav class="app-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-controller="EmployeesManage" asp-action="SalonOrdermanagement" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                        <a class="page-link" asp-controller="EmployeesManage" asp-action="SalonOrdermanagement" asp-route-page="@i">@i</a>
                                    </li>
                                }
                                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                                    <a class="page-link" asp-controller="EmployeesManage" asp-action="SalonOrdermanagement" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

        <footer class="app-footer">
            <div class="container text-center py-3">
            </div>
        </footer>

    </div>
    <script src="~/css/System/assets/plugins/popper.min.js"></script>
    <script src="~/css/System/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/css/System/assets/js/app.js"></script>
    <script defer src="~/css/System/plugins/fontawesome/js/all.min.js"></script>

</body>
</html>



