@section  Styles{

    <style>
        .td-Width {
            width: 150px;
        }

        .card {
            margin-bottom: 10px;
        }

    </style>

}


<header class="bg-dark text-white py-3">
    <h2 class="text-center font-weight-bold">訂單確認</h2>
</header>

<div id="app" class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>移除商品</th>
                        <th>商品圖片</th>
                        <th>品項</th>
                        <th>數量</th>
                        <th>價格</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cartItem in shoppingCart" :key="cartItem.productId">
                        <td>
                            <a data-toggle="modal" data-target="#removeModal" data-whatever="" @@click="removeCart(cartItem)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <img :src="imagePathById(cartItem.productId)" alt="商品" style="max-height:100px" class="order-item-image">
                        </td>
                        <td><span class="order-item-title">{{cartItem.productName}}</span></td>
                        <td class="td-Width">
                            <input type="number" class="form-control order-item-quantity" v-model="cartItem.amount" min="1" @@input="checkQuantity(cartItem)">
                        </td>
                        <td class="order-item-price td-Width">{{subTotal(cartItem)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{listConut}}<span>件商品</span></td>
                        <td>總價：{{getTotal()}}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="mt-4">
                <h4>訂購人資料</h4>
                <div class="form-group">
                    <label for="name">姓名：</label>
                    <input type="text" class="form-control" id="name" name="name" v-model="memberInfo.memberName" required>
                </div>

                <div class="form-group">
                    <label for="address">地址：</label>
                    <input type="text" class="form-control" id="address" name="address" v-model="memberInfo.memberAddress" required>
                </div>
                <div class="form-group">
                    <label for="phone">連絡電話：</label>
                    <input type="tel" class="form-control" id="phone" name="phone" v-model="memberInfo.memberPhone" required>
                </div>
                <div class="row">
                    <div class="col">                       
                        <label for="phone">發票類型：</label>
                        <div class="form-group" v-for="item in invoiceType">                            
                            <span></span>{{item.invoiceName}}<input type="radio" name="invoice" v-model="invoice" :value="item.invoiceId" required>
                        </div>
                    </div>
                    <div class="col">
                        <label for="phone">付款方式：</label>
                        <div class="form-group" v-for="item in paymentType">                            
                            <span></span>{{item.payName}}<input type="radio" name="payment" v-model="payment" :value="item.payId" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" @@click="sendOrder()">下單</button>
            </div>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
            <h4 class="text-center font-weight-bold">推薦商品</h4>
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-12" v-for="item in maybeLik">
                    <div class="card recommended-item">
                        <img src="https://picsum.photos/120/?random=10" alt="推薦商品1" class="card-img-top">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">{{item.productName}}</h5>
                            <p class="text">{{item.productContent}}</p>
                            <p>單價:{{item.unitPrice}}</p>
                            <button class="btn btn-primary" @@click="AddCart(item)">加到購物車</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var email = "@ViewBag.Email"
        var app = new Vue({
            el: "#app",
            data: {
                shoppingCart: [],
                memberInfo: [],
                orderId: null,
                recipient: [],
                addForm: {
                    MerchantID: '@ViewData["MerchantID"]' //商品代號
                    , MerchantOrderNo: '@ViewData["MerchantOrderNo"]'
                    , ExpireDate: '@ViewData["ExpireDate"]'
                    , ReturnURL: '@ViewData["ReturnURL"]'
                    , CustomerURL: '@ViewData["CustomerURL"]'
                    , NotifyURL: '@ViewData["NotifyURL"]'//需要nrogk
                    , ClientBackURL: '@ViewData["ClientBackURL"]'
                },
                invoiceType: [],
                invoice: null,
                paymentType: [],
                payment: null,
                maybeLik: [],
                ProductImageData: null,
            },
            mounted: function () {
                this.shoppingCart = this.getCart(email) ? this.getCart(email).carts : [];
                this.getMember();
                this.getInvoice();
                this.getPayment();
                this.favProduct();
                this.getImage();
            },
            computed: {
                //商品數量計算。
                listConut: function () {
                    return this.shoppingCart.length;
                }
            },
            methods: {
                getImage: function () {
                    let productIDs = [];
                    this.shoppingCart.forEach(function (item, i) {

                        productIDs.push(item.productId);
                        //console.log(item.productId);
                    });

                    axios.post(`/Product/GetFilterImages`, productIDs).then(response => {
                        console.log(response.data);
                        this.ProductImageData = response.data;
                    });
                },
                imagePathById: function (productId) {
                    var data = this.ProductImageData.find(item => item.productId == productId);

                    if (data != null)
                        return data.imagePath;
                    else
                        return null;
                },


                //可能喜歡的商品。
                favProduct: function () {
                    let _this = this; // 指的是Vue本身。
                    axios.get('/api/PetProdcutAPI/Recommended').then(response => {
                        console.log(response.data);
                        _this.maybeLik = response.data;
                    });
                },
                //取得發票種類。
                getInvoice: function () {
                    axios.post('/api/PetProdcutAPI/getInvoice').then(response => this.invoiceType = response.data);
                },
                //取得付款種類。
                getPayment: function () {
                    axios.post('/api/PetProdcutAPI/getPayment').then(response => this.paymentType = response.data);
                },
                checkQuantity: function (cartItem) {
                    if (cartItem.amount < 1) {
                        cartItem.amount = 1;
                    }
                },
                getTotal: function () {
                    var result = this.shoppingCart.reduce(function (total, item) {
                        return total + item.unitPrice * item.amount;
                    }, 0);
                    return result;
                },
                memberEmpty: function () {
                    let _this = this;
                    if (_this.memberInfo.memberName == '' || _this.memberInfo.memberAddress == '' || _this.memberInfo.memberPhone == '') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: '收件人資料不可為空',
                        })
                    }
                },
                getCart: function (userEmail) {
                    var cartItems = localStorage.getItem('CartItem');
                    var obj = JSON.parse(cartItems);
                    return Array.isArray(obj) ? obj.find(x => x.email === userEmail) : null;
                    //return obj.find(x => x.email == userEmail);<<原本寫法
                },
                setCart: function (userEmail, carts) {
                    var obj = JSON.parse(localStorage.getItem('CartItem')) || [];
                    //var obj = JSON.parse(localStorage.getItem('CartItem')); <<原本寫法
                    var userCart = obj.find(x => x.email == userEmail);
                    if (userCart) {
                        obj.forEach(x => {
                            if (x.email == userEmail) {
                                x.carts = carts
                            }
                        });
                    }
                    obj.push({
                        email: userEmail,
                        carts: carts
                    });
                    localStorage.setItem('CartItem', JSON.stringify(obj));
                },
                subTotal: function (item) {
                    return item.amount * item.unitPrice;
                },
                //移除購物車商品(修改版)
                removeCart: function (item) {
                    let _this = this;
                    // 從 localStorage 中取得目前的購物車資料
                    var cartItems = _this.getCart(email);
                    if (cartItems) {
                        var ArraysItems = cartItems.carts;
                        //// 在購物車資料中找到要移除的 CartItem
                        var indexToRemove = ArraysItems.findIndex(cart => cart.productId === item.productId);
                        if (indexToRemove !== -1) {
                            // 從購物車資料中移除指定的 CartItem
                            ArraysItems.splice(indexToRemove, 1);
                            _this.shoppingCart = ArraysItems;
                            // 將更新後的購物車資料重新設定到 localStorage 中
                            _this.setCart(email, ArraysItems);
                        }


                    }
                },
                //加入購物車
                AddCart: function (item) {
                    if (email != "") {
                        let _this = this;
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: '成功加入購物車',
                            showConfirmButton: false,
                            timer: 1000
                        })
                        var existingItem = _this.shoppingCart.find(cartItem => cartItem.productId == item.productId);
                        if (existingItem) {
                            existingItem.amount += item.amount; // 商品已存在，更新數量
                        } else {
                            // 商品不存在，新增項目 //解構。
                            _this.shoppingCart.push({ ...item, amount: item.amount });
                        }
                        _this.setCart(email, _this.shoppingCart);
                        _this.getImage();
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '請先登入會員',
                            footer: '<a href="/Member/Login" style="color:blue">會員登入</a>'
                        })
                    }
                    //阻止冒泡。
                    event.stopPropagation();
                },
                getMember: function () {
                    let _this = this;
                    var request = { MemberEmail: email };
                    console.log(request);
                    axios.post('/api/PetProdcutAPI/GetMember', request).then(res => _this.memberInfo = res.data);
                },
                //送出訂單,清空cartItem。
                sendOrder: function () {
                    let _this = this;
                    //判斷使用者購物車是否為空
                    if (_this.shoppingCart.length !== 0 && this.getCart() !== null) {
                        if (_this.memberInfo.memberAddress != '' && _this.memberInfo.memberName != '' && _this.memberInfo.memberPhone != '' && _this.payment != null && _this.invoice !=null) {
                            var request = {
                                MemberId: _this.memberInfo.memberId,
                                InvoiceId: this.invoice,
                                PayId: this.payment,
                                OrderStatus: false,
                                OrderAddress: _this.memberInfo.memberAddress,
                                OrderMemberName: _this.memberInfo.memberName,
                                OrderMemberPhone: _this.memberInfo.memberPhone,
                                OrderMemberEmail: _this.memberInfo.memberEmail,
                                OrderNo: _this.addForm.MerchantOrderNo
                            };
                            console.log(request)
                            axios.post('/api/PetProdcutAPI/CreatOrder', request).then(res => {
                                _this.orderId = res.data;
                                var cartItems = localStorage.getItem('CartItem');
                                var productDetail = JSON.parse(cartItems);
                                console.log(productDetail[0].carts);
                                axios.post('/api/PetProdcutAPI/CreatOrderDetail', productDetail[0].carts, { params: { orderId: this.orderId } }).then(res => {
                                    
                                    if (request.PayId == 2) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: '訂單已建立',
                                            footer: '<a href="/Member" class="btn btn-primary">前往會員中心</button>'
                                        })
                                    }
                                    else {
                                        Swal.fire({
                                            icon: 'success',
                                            title: '訂單已建立',
                                            footer: `<button class="btn btn-primary"  id="payButton">立即付款</button>`,
                                            didOpen: () => {
                                                const payButton = Swal.getPopup().querySelector('#payButton');
                                                payButton.addEventListener('click', this.SendToNewebPay);
                                            },
                                            willClose: () => {
                                                const payButton = Swal.getPopup().querySelector('#payButton');
                                                payButton.removeEventListener('click', this.SendToNewebPay);
                                            }
                                        });
                                    }
                                    localStorage.clear();
                                });
                            });                   
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                text: '訂購人或付款方式不可為空',
                            })
                        }
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '購物車為空無法下單',
                            footer: '<a href="/Product" style="color:blue">回商城選購</a>'
                        })
                    }
                },
                //藍新API。
                SendToNewebPay: function () {
                    var self = this;
                    // 組合表單資料
                    var postData = {};
                    postData['MerchantID'] = self.addForm.MerchantID;
                    postData['MerchantOrderNo'] = self.addForm.MerchantOrderNo;
                    postData['ItemDesc'] = self.memberInfo.memberName//付款人資訊。
                    postData['Amt'] = self.getTotal();//結帳金額
                    postData['ExpireDate'] = self.addForm.ExpireDate;
                    postData['ReturnURL'] = self.addForm.ReturnURL;
                    postData['CustomerURL'] = self.addForm.CustomerURL;
                    postData['NotifyURL'] = self.addForm.NotifyURL;
                    postData['ClientBackURL'] = self.addForm.ClientBackURL;
                    postData['Email'] = email;
                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url: '@Url.Content("~/Product/SendToNewebPay")',
                        method: 'POST',
                        dataType: 'json',
                        data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
                        success: function (returnObj) {
                            // 呼叫藍新金流 API
                            const form = document.createElement('form');
                            form.method = 'post';
                            form.action = 'https://ccore.newebpay.com/MPG/mpg_gateway';//藍新金流驗證網址(測試環境)

                            for (const key in returnObj) {
                                if (returnObj.hasOwnProperty(key)) {
                                    //將回傳的Json物件開頭轉為大寫
                                    const fixedKey = key.charAt(0).toUpperCase() + key.slice(1);
                                    const hiddenField = document.createElement('input');
                                    hiddenField.type = 'hidden';
                                    hiddenField.name = fixedKey;
                                    hiddenField.value = returnObj[key];
                                    form.appendChild(hiddenField);
                                }
                            }
                            document.body.appendChild(form);
                            form.submit();
                        },
                        error: function (err) {
                            alert(err.status + " " + err.statusText + '\n' + err.responseText);
                        }
                    });

                }
            }
        })

    </script>


}